﻿body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    margin:0px 0px 0px 0px;
    height: 100%;
    background-color: #e2e7ea;
}

A:link {color: #000000;}
A:visited {color: #000000; text-decoration:none;}
A:active {color: #000000; text-decoration:none;}
A:hover {color: #000000; text-decoration:none;}

#wrapper 
{
    margin:0 auto;
	width: 1097px;
	padding: 0px;
    border: solid 1px black;
    margin-top: 20px;
    border-radius: 15px;
    height: 90vh;
    background-color: #FFFFFF;
    box-shadow: 5px 10px 15px 5px #888888;
}
#header{
    padding: 10px;
}
#nav{
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
    position: relative;
    height: 20px;
}
#nav ul li
{
    padding: 0px 60px 0px 0px;   
}

#navwrapper{
    margin-left: 75px;
}


#nav A:link {color: #FFFFFF; font-size: 14pt;}
#nav A:visited {color: #FFFFFF; text-decoration:none;}
#nav A:active {color: #FFFFFF; text-decoration:none;}
#nav A:hover {color: #FFFFFF; text-decoration:none;}

#content{
    padding: 40px 80px 40px 80px;
}
